.label_table {
  font-size: 19px;

}

.tableButton {
  float: left;
}

.mainFont {
  margin-right: 100px;
}

.myradiofont {
  font-size: 50%;
}

.formText {
  text-align: center;
}


#submitButton {
  float: right; margin-bottom: 20px;
}

.dataintable th {
  padding: 5px 15px 5px 6px;
  background-color: #3F3F3F;
  border: 1px solid #3F3F3F;
  color: #fff;
  text-align: center;
}


tbody {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
}

.dataintable td {
    padding: 6px 15px 6px 6px;
    border: 1px solid #aaa;
    text-align: center;
}

.dataintable tr:nth-child(2n) {
    background-color: #fff;
    text-align: center;
}
.dataintable tr:nth-child(2n+1) {
    background-color: #F5F5F5;
    text-align: center;
}

.withButton {
  width: 150px;
  table-layout: auto;
}

td {
  font-size: 120%;
  overflow: auto;
  width: 100px;
  text-align: center;
}

tr {
  background-color: #F5F5F5;
  align: center;
  text-align: center;
}

.dataintable {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #aaa;
  width: 100%;
  max-width: 1526px;
  table-layout: fixed;
  overflow: auto;
}

#attend {
  vertical-align: middle;
  text-align: center;
}

#faid {
  margin: 0;
}

.error {
    color: #FF0000;
  }
.NP {
    color: #00FF66;
  }
section {
    width: 50%;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
  }

.mainImg {
  height: 100%;
  width: 1526px;
  margin: 0;
}


.tst
{
  padding: 0px 10px 0px 10px;
}




.cnxn /* Carré de connexion placé et encadré*/
{
  border:2px solid black;
  margin-top: 15px;
  padding: 20px 50px 50px 50px;
  width: 500px;
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


#imgcnx
{
  margin-top:50px;
  display: flex;
  justify-content: space-around;
}

#imgcn
{
  margin: 15px 15px 0px 0px;

}

label
{
  font-size: 25px;
  margin: 10;

}


a /*On change la couleur bleue des liens et on ne les souligne plus  */
{
  color: #FEFEFE;
  text-decoration: none;
}

a:hover
{
  color: black;
}

#co{
  color: black;
}

#admin
{
  color:black;
}


.icone
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin:20px 20px 20px 20px;
  width: 1526px;
}

.sectionIcone img
{
  width: 80px;
  height: 80px;
}

.sectionIcone
{
  width:150px;
  margin:0 30px 0 30px;
  padding: 15px;
  text-align: center;
}


h4
{
  display: flex;
  justify-content: space-around;
}

#qui_sommes_nous
{
  display: flex;
  justify-content: space-around;
  margin: 25px 25px 25px 25px;
  text-align: justify;
}

#qui
{
  width: 40%;
  padding-right: 50px;
  margin-bottom:- 550px;

}

#info_contact
{
  width: 50%;
  margin-top: 50px;
  margin-left: 50px;

}

#nos_services_page
{
  text-align: justify;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 50px;
}
#nos_services
{
  width: 50%;
  margin-left: 45px;
}
.txtq
{ font-size: 0.6em;
  font-weight: none;
}

figure
{
  width: 45%
  margin-bottom: 50 px;

}

textarea
{
  width: 400px;
  height: 100px;
}

#page_contact
{
  display: flex;
  justify-content: space-around;

}

i
{

  margin-right: 10px;
  text-align: justify;
}

#txtreseau
{
  margin-left: 15px;
  margin-bottom: 5px;

}

#reseau
{
  display:flex;
  justify-content: space-around;

}

#europe
{
  margin-left: -100px
}

.deconnecterboutton
{
  float: right;
}
